# Database
DB_USER=subbiesstats
DB_PASSWORD=changeme_in_production
DB_NAME=subbiesstats
DB_HOST=db
DB_PORT=5432

# Backend
ENVIRONMENT=development
DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# Ingestion
INGESTION_DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
DATABASE_URL_SYNC=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
FUSESPORT_DEVICE_ID=8ba924de4b6d5cb0
INGESTION_INTERVAL_MINUTES=30
INGESTION_PASSWORD=dbRefresh_

# PWA Web Push
VAPID_PUBLIC_KEY="87 length string. Could just be a random string"
VAPID_PRIVATE_KEY="43 length string. Could just be a random string"
VAPID_MAILTO=mailto:admin@subbiesstats.calypsolab.xyz

# Testing
RX_TEST_EMAIL=email
RX_TEST_PASSWORD=password